<%- include("header.ejs") %>

<% if (locals.error) { %>
    
    <div class="logo-container">
        <img src="logo.png" alt="Trivia hub logo" class="logo">
    </div>

    <div id="tag-error" class="tag-error">
        

        <p class="main-error">No questions available for the selected criteria.</p>
        <p> Please retry by selecting a lower number of questions.</p>

        <form action="/" method="GET">
            <button type="submit">Try Another Quiz</button>
        </form>

    </div>
 <% } else { %> 


    <div class="logo-container">
        <img src="logo.png" alt="Trivia hub logo" class="logo">
    </div>

    <div class="quiz-selection-section">
        <form action="/" id="selectionOptions" class="selectionOptions" method="POST">

            <label for="quizCategory" class="quiz-category">Quiz Category:</label>
            <select id="quizCategory" name="quizCategory" required>
                <option value="">(Select Category)</option>
                <% Object.entries(category).forEach(([categoryItem, value]) => { %>
                    <option value="<%= value %>"><%= categoryItem %></option>
                <% }); %>
            </select>

            <label for="questionType">Type of Questions:</label>
            <select id="questionType" name="questionType" required>
                <option value="">(Select Type)</option>
                <% Object.entries(type).forEach(([typeOfQuestion, value]) => { %>
                    <option value="<%= value %>"><%= typeOfQuestion %></option>
                <% }); %>
            </select>

            <label for="difficultyLevel">Difficulty Level:</label>
            <select id="difficultyLevel" name="difficultyLevel" required>
                <option value="">(Select Level)</option>
                <% level.forEach(levelOfDifficulty => { %>
                    <option value="<%= levelOfDifficulty %>"><%= levelOfDifficulty%></option>
                <% }); %>
            </select>

            <label for="numberOfQuestions">No. of Questions:</label>
            <select id="numberOfQuestions" name="numberOfQuestions" required>
                <option value="">(Select Number)</option>
                <% number.forEach(questionNumber => { %>
                    <option value="<%= questionNumber %>"><%= questionNumber %></option>
                <% }); %>
            </select>

            <button type="submit" class="form-submit"> Start Quiz</button>

            <!-- <a href="/quizPage" style="text-decoration: none; color: inherit;"></a> -->

        </form>

    </div>
    <% } %>
    

    
                
                                    


    
 <%- include("footer.ejs") %>

    <!-- <script>
        window.onload = function() {
            document.getElementById('selectionOptions').reset();
        };
    </script> -->