<%- include("header.ejs") %>


<% if (locals.data) { %>
    <div class="header-container">
        <% 
                const firstResult = data[0];
                const difficulty = firstResult.difficulty;
                const category = firstResult.category;
                const categoryNumber = quizCategoryNumber
    
                let currentScore = locals.currentScore;
                let currentQuestionNumber = locals.currentQuestion || 1;
                const totalQuestions = data.length;
                const currentQuestion = data[currentQuestionNumber - 1];
        %>
            <div class="quiz-header" style="background-image: url('/images/<%- categoryNumber %>.png'); background-size: cover; background-position: center; filter: grayscale(100%) opacity(0.5);">
            </div> 
    <div class="background-overlay"></div>
    <div class="heading-section">
        <!-- <div class="logo-container" id="quizPageLogoContainer">
            <img src="/logo.png" alt="" class="quizpage-logo"> 
         </div> -->
        <h1 class="mainheading"><%- category %></h1>
        <h2 class="subheading">Quiz Level: <%- difficulty %></h2>
    </div>   
</div>

    <div class="question">
        <div class="progress-bar">

        <label class="quiz-progress" for="quizProgress"> <%= currentQuestionNumber %> / <%= totalQuestions %></label>
        <progress id="quizProgress" max="100" value="<%- (currentQuestionNumber/totalQuestions)*100 %>"><%- (currentQuestionNumber/totalQuestions)*100 %></progress>
        </div>
        <div class="question-section">

        <p class="quiz-question"><%- currentQuestion.question %></p>

        <form action="/quizPage" id="answerOptions" class="answer-options" method="POST">

            <input type="hidden" name="quizData" value="<%= encodeURIComponent(JSON.stringify(data)) %>">
            <input type="hidden" name="currentQuestion" value="<%- currentQuestionNumber %>">
            <input type="hidden" name="correctAnswer" value="<%- currentQuestion.correct_answer %>">
            <input type="hidden" name="score" value="<%- currentScore %>">
            <input type="hidden" name="quizCategoryNumber" value="<%- categoryNumber %>"> 




            <% currentQuestion.shuffledAnswers.forEach(answer => { %>
                <input type="button" class="<%- answer === currentQuestion.correct_answer ? 'correct-answer' : 'incorrect-answer' %> answer-option" width="80px" value="<%- answer %>" onclick="handleAnswerClick(this, '<%= answer === currentQuestion.correct_answer %>')">
                
            <% }); %>

            <% if (currentQuestionNumber < totalQuestions) { %>

                <button type="submit" class="answer-submit-button" name="action" value="next" disabled>Next Question</button>

            <% } else { %>

                <button type="submit" class="answer-submit-button" name="action" value="end" disabled> View Results</button> 

                <% } %>
            </form>
            </div>
        </div>
                    

    <% } else { %>

        <div id="tag-error" class="tag-error">

            <p>No quiz data available</p>

        </div>
     <% } %>

<%- include ("footer.ejs") %>
